<h2>Screen des Stratégies Calculées</h2>

<div class="form-container">
  <label for="symbol">Sélectionnez un symbole :</label>
  <select id="symbol" [(ngModel)]="selectedSymbol" (change)="loadStrategies()">
    <option *ngFor="let symbol of symbols" [value]="symbol">{{ symbol }}</option>
  </select>
</div>

<div *ngIf="isLoading">Chargement des stratégies...</div>

<<table *ngIf="strategies.length > 0" class="strategy-table">
  <thead>
  <tr>
    <th>Run ID</th>
    <th>Nom</th>
    <th>Symbole</th>
    <th>Compare</th>
    <th>Début</th>
    <th>Fin</th>
    <th>Trades Gagnants</th>
    <th>Trades Perdants</th>
    <th>% Winrate</th>
    <th>RR Moyen</th>
    <th>Nb Trades</th>
    <th>Total Return</th>
    <th>Max Drawdown</th>
    <th>Average Trade</th>
    <th>Average TP</th>
    <th>Average SL</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let strategy of strategies">
    <td>{{ strategy.runId || '-' }}</td>
    <td>{{ strategy.name }}</td>
    <td>{{ strategy.symbol || '-' }}</td>
    <td>{{ strategy.comparedSymbol || '-' }}</td>
    <td>{{ strategy.startDate ? (strategy.startDate | date:'short') : '-' }}</td>
    <td>{{ strategy.endDate ? (strategy.endDate | date:'short') : '-' }}</td>
    <td>{{ strategy.winningTrades !== undefined ? strategy.winningTrades : '-' }}</td>
    <td>{{ strategy.losingTrades !== undefined ? strategy.losingTrades : '-' }}</td>
    <td>{{ strategy.winRate !== undefined ? (strategy.winRate + '%') : '-' }}</td>
    <td>{{ strategy.averageRR !== undefined ? strategy.averageRR : '-' }}</td>
    <td>{{ strategy.tradeCount !== undefined ? strategy.tradeCount : '-' }}</td>
    <td>{{ strategy.totalReturn !== undefined ? (strategy.totalReturn | number:'1.2-2') : '-' }}</td>
    <td>{{ strategy.maxDrawdown !== undefined ? (strategy.maxDrawdown | percent:'1.2-2') : '-' }}</td>
    <td>{{ strategy.averageTrade !== undefined ? (strategy.averageTrade | number:'1.2-2') : '-' }}</td>
    <td>{{ strategy.averageSL !== undefined ? (strategy.averageSL | number:'1.2-2')  : '-' }}</td>
    <td>{{ strategy.averageTP !== undefined ? (strategy.averageTP | number:'1.2-2')  : '-' }}</td>
    <td>
      <button (click)="goToDetails(strategy)">GO</button>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="strategies.length === 0 && !isLoading">
  <p>Aucune stratégie trouvée pour ce symbole.</p>
</div>
