.chart-side-by-side {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.chart-side-by-side canvas {
  width: 100% !important;
  max-width: 650px;
  height: 550px !important;
  margin: 0 auto;
  display: block;
}
