
<main class="main">
  <div class="content">
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <nav>
        <a routerLink="/historical-data">Graph Histo</a>
        <a routerLink="/statistics">Stats Live - Histo</a>
        <a routerLink="/strategy-calculation">Calcul strats</a>
        <a routerLink="/screen-strategies">Strategies</a>
        <a routerLink="/live-data">Live Data</a>
      </nav>
    </div>
    <router-outlet />
  </div>
</main>


