<div>
  <label for="symbol">Symbol:</label>
  <select id="symbol" [(ngModel)]="selectedSymbol">
    <option *ngFor="let symbol of symbols" [value]="symbol">{{ symbol }}</option>
  </select>

  <label for="timeframe">Timeframe:</label>
  <select id="timeframe" [(ngModel)]="selectedTimeframe">
    <option *ngFor="let tf of timeframes" [value]="tf">{{ tf }}</option>
  </select>

  <button (click)="loadData()">Charger</button>
</div>

<div *ngIf="candles.length > 0; else loading">

  <h2>Graphique des Bougies </h2>
  <canvas id="candlestickChart"></canvas>
</div>
<ng-template #loading>
  <p>Loading data...</p>
</ng-template>
